$main-color: #5F5F5F;
body {
  color: $main-color;  
}
section {
  display: flex;
  article {
    min-width: 200px;
    padding: 5px;
    margin:5px;
    margin-top: 10px;
    max-width: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px $main-color solid;
    border-radius: 2px;
    p {
      margin: 10px;
    }
  }
}
nav {
  margin: 10px;
  a {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px $main-color solid;
    &:last-of-type {
      margin-right: auto;
      padding-right: auto;
      border-right: none;
    }
  }
}