.nav
  p
    nav
      a(href=base.url) Home link
      a(href=base.url + '/example/lorem') lorem link
      a(href=base.url + '/example/ipsum') ipsum link
      a(href=base.url + '/example/assarim') assarim link
